@charset "UTF-8";
/* line 7, ../../app/scss/default.scss */
::selection {
  background-color: #f13c6e;
}

/* line 11, ../../app/scss/default.scss */
.clear {
  zoom: 1;
}
/* line 13, ../../app/scss/default.scss */
.clear:after {
  content: "\20";
  display: block;
  clear: both;
  height: 0;
}

/* line 21, ../../app/scss/default.scss */
body {
  font-family: "微软雅黑";
  font-size: 12px;
  color: #666;
}

/* line 27, ../../app/scss/default.scss */
a:hover {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 32, ../../app/scss/default.scss */
.wrap {
  margin: 0 50px;
}

/* line 36, ../../app/scss/default.scss */
header {
  font-size: 14px;
  color: #f0f0f0;
  background-color: #f13c6e;
}
/* line 40, ../../app/scss/default.scss */
header a {
  color: #fff;
}
/* line 43, ../../app/scss/default.scss */
header .ceiling {
  line-height: 70px;
  background-color: #e93969;
}
/* line 46, ../../app/scss/default.scss */
header .ceiling .logo {
  float: left;
}
/* line 48, ../../app/scss/default.scss */
header .ceiling .logo h1 {
  font-size: 28px;
  margin-top: -10px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 55, ../../app/scss/default.scss */
header .ceiling nav {
  float: right;
}
/* line 57, ../../app/scss/default.scss */
header .ceiling nav li {
  float: left;
  margin: 0 10px;
}
/* line 63, ../../app/scss/default.scss */
header article {
  text-align: center;
  padding: 50px 0;
}
/* line 66, ../../app/scss/default.scss */
header article h2 {
  font-size: 28px;
  height: 42px;
  margin-bottom: 10px;
}

/* line 74, ../../app/scss/default.scss */
.typed-cursor {
  opacity: 1;
  -moz-animation: blink 0.7s infinite;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 137, ../../app/scss/default.scss */
.article-list {
  padding: 30px 0;
}
/* line 140, ../../app/scss/default.scss */
.article-list li h4 {
  font-size: 24px;
}

/* line 146, ../../app/scss/default.scss */
.post-content {
  padding: 30px 0;
  line-height: 1.6em;
}
/* line 149, ../../app/scss/default.scss */
.post-content h3 {
  font-size: 24px;
  padding-bottom: 15px;
}

/* line 155, ../../app/scss/default.scss */
footer {
  background-color: #191b1f;
  color: #fbfbfb;
}
/* line 158, ../../app/scss/default.scss */
footer a {
  color: #fbfbfb;
}
/* line 161, ../../app/scss/default.scss */
footer .copyright {
  text-align: center;
  height: 35px;
  line-height: 35px;
  background-color: #191b1f;
}

/*# sourceMappingURL=default.css.map */
